<aside class='crumbs'>
    <%= link_to "Home", root_path, class: "crumb-link"%>
    <span class='crumb-separator'>&raquo;</span>
    <%= link_to "Projects", front_projects_path, class: "crumb-link"%>
</aside>
<div class='main-container'>

  <section class='front-projects-container'>
    <%= render :partial => 'projects', locals: {projects: @projects} %>  
  </section>

</div>