.animatedModal{
  color:white;
}
.modal-content{
  padding:10px;
}

.modal .close{
  color:white;
  cursor:pointer;
  position:fixed;
  top:5px;
  left:5px;
  img{
    width:30px;
    height:30px;    
    padding:10px;
  }
}

.contact-form{
  color:white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  form{
    width:500px;
    height:300px;
    input, textarea{
      display:block;
      width:100%; 
      overflow:hidden;  
      box-sizing:border-box;
      -moz-box-sizing:border-box;
    }
    button{
      height:50px;
      width:100%;
      background:#eaffc4;
      color:black;
      border:0;
      box-shadow:0; 
      cursor:pointer;
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-appearance: button; /* for input */
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      margin-top:5px;
    }
    textarea{
      height:200px;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
    }
    label{
      font-size:12px;
      margin:25px 0 3px 0;
      display:block;
    }
    input[type='email']{
      height:30px;
    }
  }
  h1{
    font-size:32px;
    text-align:center;
  }
}

.hpot{
 display:none; 
}