aside.crumbs{
  float:none;
  clear:both;
  overflow:hidden;
  text-align:left;
  max-width:1200px;
  margin:0 auto;
  padding: 0 8px;
}

.crumb-link{
  display:inline;
  text-align:center;
  font-size:14px;
}

.crumb-separator{
  display:inline;
  margin:0 3px;
  text-decoration:none;
  color:$lightblue;
  font-size:10px;
}