footer.main{
  min-height:15vh;
  background-color:#484343;
  color:white;
}

.footer-container{
  padding:24px;
}

a.footer-contact-link{
  color:#fff;
  font-size:24px;
  text-align:center;
  margin:0 auto 20px auto;
  display:block;
}

.footer-link{
  margin: 10px 0;
}
.footer-link a{
  max-width:100%;
  color:#fff;
}

.footer-link img{
  max-width:50px;
}

.footer-link-subtitle{
  margin:0;
  font-family:'acier-bat-solid';
}



.links-container{
  text-align:center;
}
