footer.main{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  min-height:150px;
  background-color:#484343;
  color:white;
}

.footer-container{
  padding:24px;
}

a.footer-contact-link{
  color:#fff;
  font-size:24px;
  text-align:center;
  margin:0 auto 20px auto;
  display:block;
}

.footer-link{
  margin: 10px;
}
.footer-link a{
  max-width:100%;
  color:#fff;
}

.footer-link img{
  max-width:50px;
}

.footer-link-subtitle{
  margin:0;
  font-family:'acier-bat-solid';
}

.links-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 620px){
  .footer-link{
      width:200px;
  }
  
  input[type='text'], textarea{
    font-size:14px;
  }
  

}

