footer{
  clear:both;
  margin-top:100px;
}

.links-container{
  width:1200px;
  margin:0 auto;
}

.footer-link{
  float:left;
  text-align:center;
  width:400px;
  height:75px;
  position:relative;
} 

.footer-link img{
  height:40px;
}


.footer-link .footer-url{
  display:block;
}

.footer-link-subtitle{
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
}

