.main-container{
  width:100%;
  min-height:50vh;
  margin:0 auto;
  overflow:hidden;
  clear:both;
  background: #fff;

}

main h1{
  font-size:48px;
  margin-bottom:20px;
  color: #979598;
}

main.front{
  width:100%;
  padding: 0px;
  color:#000;
}


main.front h2{
  font-size:20px;
  font-weight:700;
  margin:10px auto 0 auto;
  text-transform:uppercase;
}

.front-feature{
  padding: 24px;
  clear:both;
}

#technology.front-feature{
  background:rgba(118, 169, 200, 0.31);
}

.technology-header{
  padding-bottom:20px;
}

.bp-feature{
  margin-bottom: 60px;
}

.bp-feature p{
  text-align: left;
  max-width:450px;
  margin: 10px 0;
}

a.project-link{
  color: #FF413B;;
}
