.main-container{
  width:500px;
  margin:0 auto;
  text-align:center;
  overflow:hidden;
  clear:both;
}
.front-projects-container{
  clear:both;
}
.recent-projects{
  clear:both;
  overflow:hidden;
  margin-top:20px;

}

.project-link{
  float:left;
  margin:12px;
  height:150px;
  width:100px;
  position:relative;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.project-link img{
  margin-bottom:40px;
  width:80px;
}

.project-link-name{
  position:absolute;
  bottom:0;
  left:0;
  text-align:center;
  width:100%;
  color:black;
}

a.projects-view-all{
  float:right;
  clear:both;
}


@media screen and (max-width: 680px) {
  .main-container{
    width:380px;
    margin:0 auto;
    text-align:center;
    overflow:hidden;
  }
  .front-projects-container{
    clear:both;
  }
  .recent-projects{
    clear:both;
    overflow:hidden;
    width:250px;
    margin:20px auto 0 auto;
  }

  a.projects-view-all{
    float:none;
    clear:both;
    text-align:center;
  }

}

@media screen and (max-width: 400px) {
  .main-container{
    width:100%;
  }
}