section.project{
  margin-top:20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 8px;
  box-sizing:border-box;
  font-size:14px;
}

.project-title{
  font-family: "acier-bat-solid";
  font-size:30px;
  line-height:0.7;
  margin:5px auto;
}

.front-projects-container{
  display:flex; 
  flex-wrap:wrap;
  align-items:center;
  text-align:center;
  justify-content:flex-start;
  margin:0px auto 50px auto;
}

.project-index-link{
  width:50%;
  height:200px;
  position:relative;
}

.project-index-link-image{
  max-width:130px;
  top:50%;
  transform:translateY(-50%);
  position:relative;

}

.project-link-name{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
}

.project-image-container{
  margin: 20px auto;
  img{
    max-width:100%;
  }
}

section.project .description{
    margin:10px 0;
    max-width:600px;
    font-size:12px;
    line-height:1.5;
}

@media screen and (min-width: 620px){
  .front-projects-container{
    max-width: 1200px;
  }
  .project-index-link {
      width: 25%;
      height: 200px;
      position: relative;
  }
}

@media screen and (min-width: 1050px){
  .project-index-link{
    height:300px;
  }
  
  .project-index-link-image{
    max-width:200px;
  }
}